body{background-color: white;}
h1 {color: #000000;}
nav{background-color: white;}
nav a{color: #2a2c35;text-decoration: none;}
nav a:hover{ transform: scale(1.1);/*background-color: #bcbcbc;*/}
nav{padding: 10px;} nav{margin-bottom: 30px;}
@media only screen and (max-width: 600px) {nav a {max-width: 100%; display: block; padding: 10px;} span{display: none;}}


@font-face {
    font-family: 'Druk Wide Bold';
    src: url('../media/DrukWideBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}