nav a{text-decoration: none;}
a{text-decoration: none;}
nav a:hover{ transform: scale(1.1);/*background-color: #bcbcbc;*/}
@font-face {
    font-family: 'Druk Wide Bold';
    src: url('media/DrukWideBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Acier Bat';
    src: url("https://db.onlinewebfonts.com/t/6e3bdf768c0dc5b08f0198a7243fbe21.eot");
    src: url("https://db.onlinewebfonts.com/t/6e3bdf768c0dc5b08f0198a7243fbe21.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/6e3bdf768c0dc5b08f0198a7243fbe21.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/6e3bdf768c0dc5b08f0198a7243fbe21.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/6e3bdf768c0dc5b08f0198a7243fbe21.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/6e3bdf768c0dc5b08f0198a7243fbe21.svg#Acier BAT Text Solid")format("svg");
}


/*
<div class="slideshow-container">
        <div class="slide">
            <img src="media/par1.jpeg" alt="Photo 1">
            <div class="slide-text">ABROAD ARCHIVE</div>
        </div>
        <div class="slide">
            <img src="media/par2.jpeg" alt="Photo 2">
            <div class="slide-text">ABROAD ARCHIVE</div>
        </div>
        <div class="slide">
            <img src="media/par3.jpeg" alt="Photo 3">
            <div class="slide-text">derriere</div>
        </div>
        <div class="slide">
            <img src="media/par4.jpeg" alt="Photo 4">
            <div class="slide-text">ABROAD ARCHIVE</div>
        </div>
        <div class="slide">
            <img src="media/par5.jpeg" alt="Photo 5">
        </div>
        <div class="slide">
            <img src="https://via.placeholder.com/150x200" alt="Photo 6">
        </div>
        <div class="slide">
            <img src="https://via.placeholder.com/150x200" alt="Photo 7">
        </div>
    </div>

    <div class="first">
        <div class="box">1</div>
        <div class="box">2</div>
        <div class="box">hiiii</div>
    </div>

*/ 
