:root {
    --bg-color: #f5f5f5;
    --text-color: #000000;
    --accent-color: #000000;
    }

    body {
    background-color: var(--bg-color);
    color: var(--text-color);
    }

    a {
    color: var(--accent-color);
    }

    .theme-original {
        --bg-color: #f5f5f5;
        --text-color: #000000;
        --accent-color: #000000;
        }

    .theme-blue-white {
        --bg-color: #e6f0ff;
        --text-color: #003366;
        --accent-color: #003366;
        }
    .theme-purple-green {
        --bg-color: #d767d2;
        --text-color: #43d36c;
        --accent-color: #43d36c;
        }
    .theme-orange-blue {
        --bg-color: #ff9035;
        --text-color: #0055ff;
        --accent-color: #0055ff;
        }
    .theme-yellow-pink {
        --bg-color: #9d294a;
        --text-color: #ece68a;
        --accent-color: #ece68a;
        }
    .theme-red-blue {
        --bg-color: #0055ff;
        --text-color: #f21d1d;
        --accent-color: #f21d1d;
        }
    .theme-pink-black {
        --bg-color: #feb4ff;
        --text-color: #000;
        --accent-color: #000;
        }
    .theme-black-yellow {
        --bg-color: #000000;
        --text-color: #fff422;
        --accent-color: #fff422;
        }
    .theme-red-white {
        --bg-color: #b1d8ff;
        --text-color: #d80d0d;
        --accent-color: #d80d0d;
        }
    .theme-red-green {
        --bg-color: #d90d0d;
        --text-color: #41d380;
        --accent-color: #41d380;
        }